.cb-create-new {
    position: relative;
    padding: 23px 15px;
    margin-right: -15px;
    margin-left: -15px;
    /*border-bottom: 1px solid rgba(0,0,0,.05);*/
}

.just-padding {
    padding: 0px;

}

.divider {
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-right: -15px;
    margin-left: -15px;
    height: 1px;
}

a.list-group-item {
    color: #6C757D;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

a.list-group-item:hover, a.list-group-item:active {
    background: linear-gradient(to right, #fff, rgba(200, 200, 200, 0.1));
}

a.list-group-item:hover {
    color: #ff1a69;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-width: 0 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

/*.loader {*/
    /*margin-top: 31vh;*/
/*}*/

.loader-block {
    position: relative;
    /*margin:50px;*/
    width: 50px;
    height: 50px;
    margin-top: 31vh;
}

.loader-static{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
