.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: 0;
}



/*.bd-links ul {*/
/*list-style-type: none;*/
/*margin: 0 0 0 5px;*/
/*padding: 0;*/
/*}*/
/*.list-group {*/
/*margin: 0 0 0 5px*/
/*}*/
