<div class="flex-grow-1">
    <app-navbar></app-navbar>
    <app-progress></app-progress>

    <div class="container flex-xl-nowrap">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-3 bd-sidebar">
                <app-categorybar></app-categorybar>
            </div>

            <main class="col-12 col-md-9 col-xl-9 py-md-3 px-md-4 bd-content">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>

<app-footer class="footer"></app-footer>

<!--<div class="flex-grow-1">-->
<!--<app-navbar></app-navbar>-->
<!--<app-progress></app-progress>-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--<div>-->


<!--<app-categories></app-categories>-->


<!--<router-outlet></router-outlet>-->

<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<footer class="footer">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="text-muted">© 2018 - Todo List Impl. with Angular by ragexe.</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->
<!--</div>-->
<!--<app-footer class="footer"></app-footer>-->
